node_modules
logs
package-lock.json

titles.json
titles_*.json

.env
*.env
staticfiles/
.idea/*
*.pyc
*__pycache__*
db.sqlite3
*.DS_Store
.DS_Store
*/.Ds_Store
*.vscode
# lib/
# bin/
include/
.Python
pip-selfcheck.json
.venv/
venv/
.important.log
.coverage
celerybeat-schedule
htmlcov
# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
log.txt
log_resend.txt
*/log.txt
*/log_resend.txt
# *.txt

crawlers/.DS_Store
credentials.json

out/
helpers/.DS_Store
src/.DS_Store
src/test.js
package-lock.json

.env
.env
